.espaco{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    color: #003F51;
}

.tudo0{
    display: flex;
    justify-content: space-around;
    .quadrado{
        margin: 50px 20px;
        text-align: center;
        color: #003F51;
        .font-fina{
            font-weight: 100;
        }
    p{
            font-weight: 900;
            font-size: 20px;
            
        }
        h1{
            font-size: 60px;
        }
    }
}
