.tudo {
  display: flex;
  justify-content: center;
  padding: 40px;
  border-radius: 20px;
}

.conquistas {
  background-color: #021B23;
  padding: 60px 40px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  max-width: 1100px;
  width: 1100px;
  height: 500px;
  scrollbar-width: thin;
  scrollbar-color: #c9a86b #003b4d;
 overflow-y: auto;

}

.conquista {
  background-color: #f6e9e8;
  color: #003f51;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 250px;
  height: 170px;
  text-align: center;
  padding: 60px 20px 1px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: 0.3s;
  position: relative;

  &:hover {
    transform: scale(1.05);
  }

  img {
    position: absolute;
    top: -33px;
    left: 50%;
    transform: translateX(-50%);
    height: 120px;
    width: auto;
  }

  h2 {
    font-size: 16px;
    margin: 5px 0;
    margin-top: 10px;


  }

  .barra {
    width: 170px;
    height: 2px;
    background-color: #003f51;
    margin: 6px auto;
    margin-top: 40px;
    border-radius: 10px;
  }
}

.confira-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  h2{
    color:white;
  }

  .img-conquista{
    background-color: #f6e9e8;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 12px;
  }
}

.confira-cursos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .card-conquista {
    background-color: #f6e9e8;
  }

  h3 {
    color: white;
  }

  .bt-cursos {
    background-color: #DFB674;
    color: #003f51;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 12px;

  }
}

