.pagina-curso {
  background-color: #f3e7e7;
  color: #003f51;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.conteudo {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: flex-start;
  gap: 90px;
  padding: 60px 80px;
  width: 100%;
  box-sizing: border-box;
}

.lado-esquerdo {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  max-width: 60%; 

  h1 {
    font-size: 2.3rem;
    color: #003f51;
  }

  .video-box {
    width: 100%;
    max-width: 700px; 
    aspect-ratio: 16 / 9;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  .descricao {
    font-size: 1.1rem;
    text-align: justify;
    margin-top: 10px;
  }
}

.lado-direito {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 350px; 
}


.card-curso {
  background-color: #003f51;
  color: white;
  padding: 30px;
  border-radius: 20px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  text-align: left;

  .tema {
    font-size: 0.9rem;
    opacity: 0.8;
  }

  .tempo {
    font-size: 0.9rem;
    color: #dfb674;
  }

  h2 {
    font-size: 1.6rem;
    margin-bottom: 5px;
  }

  .resumo {
    font-size: 1rem;
    opacity: 0.9;
  }

  .nivel {
    margin-top: 5px;
  }

  .gratuito {
    background-color: #dfb674;
    color: #003f51;
    font-weight: bold;
    width: fit-content;
    padding: 6px 12px;
    border-radius: 8px;
    margin-top: 10px;
  }

  .inclui {
    h3 {
      font-size: 1.1rem;
      margin-top: 15px;
      margin-bottom: 5px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 4px 0;
      }
    }
  }

  .avaliacao {
    text-align: center;
    margin-top: 15px;
    align-self: center;
  }
}

.voltar-cursos{
  width: fit-content;
  position: absolute;
  top: 80px;
  left: 0px;
  display: flex;
  align-items: center;
  margin: 50px;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 11px;
  cursor: pointer;
  overflow: hidden; 
  color: #003F51;
  background-color: transparent;
  transition: color 0.3s ease;
}

@media (max-width: 900px) {
  .conteudo {
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    flex-wrap: wrap;
  }

  .lado-esquerdo {
    align-items: center;
    min-width: unset;
  }

  .lado-direito {
    width: 100%;
    justify-content: center;
  }

  .card-curso {
    width: 100%;
    max-width: 350px;
    align-items: center;
    text-align: center;

    .botao-inscrever {
      width: 80%;
    }
  }
}

.botoes {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;

  button {
    width: 160px;
    height: 45px;
    border-radius: 10px;
    background-color: #dfb674;
    color: #003f51;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
}
