.container-cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #003F51;
    background-color: #DFC8BA;
}
.navegar{
    display: flex;
    margin-right: 20px;
    p{
        margin-right: 20px;
    }
}
