.tudo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin: 10px;
    margin-top: 10px;
    margin-left: 30px;
    }

    .td{
        margin-left: -30px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

.tudo-img{
    display: flex;
    margin-right: 20px;
    gap: 20px;
}

.tt{
    margin-bottom: 30px;
    display: flex;
    color: #003F51;
    gap: 10px;
    font-size: 22px;
    .titulo{
      color:#003F51;
      font-size: 36px;
    }
}


.txt{
    color: #003F51;
    display: flex;
    gap: 10px;
    font-size: 20px;
    width: 95%;
}

.txtxt{
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    gap: 20px;
    color: #003F51;

    .topicos{
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-items: center;
      text-align: center;
      gap: 7px;
      color: #003F51;

      .topicos-h3{
        margin-top: -2px;
        text-decoration: underline;
      }
    }
}

.txtxt h3{
    margin-top: 10px;
}

$color: #DFB674;

.bt {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #003F51;
  border: 1px solid #DFB674;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #02485c;
    &:before {
      width: 100%;
    }
  }
}

.imgage{
transform: rotateY(180deg);
height: 20px;
}

.img{
    height: 510px;
}


@media (max-width: 768px) {

  .tudo {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .tudo-img {
    justify-content: center;
  }

  .img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .td {
    margin-left: 0;
    padding: 10px;
  }

  .titulo {
    font-size: 28px !important;
  }

  .txt{
    font-size: 18px;
    text-align: center;
  }
.txtxt {
  font-size: 18px;
}
  .bt {
    font-size: 15px;
    padding: .6rem 1rem;
  }

}

