.pagina-denuncia {
    background-color: #003F51;
    min-height: 100vh;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F3E7E7;
    font-family: Arial, sans-serif;
  }
  
  .mensagem {
    color: #000;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;
  }
  
  .caixa-denuncia {
    background-color: #003F51;
    border: 1px solid #F3E7E7;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    padding: 2rem;
  }
  
  .titulo {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .lista-denuncia {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .item-denuncia {
    background-color: #F3E7E7;
    color: #222;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
  
    &:hover {
      background-color: #F3E7E7;
    }
  
    &.aberto {
      border: 2px solid #003F51;
    }
  }
  
  .cabecalho-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .texto-assunto {
    font-weight: bold;
  }
  
  .texto-data {
    color: #333;
    font-size: 0.9rem;
  }
  
  .descricao-item {
    background-color: #ffffffcc;
    margin-top: 0.7rem;
    padding: 0.8rem;
    border-radius: 8px;
    color: #111;
  
    strong {
      color: #003F51;
    }
  
    p {
      margin-top: 0.3rem;
    }
  }
  