.container-modulo {
    .modulo{
        .t{
            text-align: center;
            font-size: 50px;
            margin-top: 40px;
        }
        .c {
            margin-top: 30px;
            font-size: 30px;
        }
    }

    @media (max-width: 768px) {
    .modulo {
      .t {
        font-size: 32px;
        text-align: center;
    margin-top: 140px;
      }
      .c {
        font-size: 20px;
        line-height: 1.4;
      }
    }
}
}