.container-modulo {
    .modulo{
        .t{
            text-align: center;
            font-size: 50px;
        }
        .c {
            margin-top: 30px;
            font-size: 30px;
        }
    }
}