.rodape {
  background-color: #004051;
  color: #F3E7E7;
  position: relative;
  font-family: "Poppins", sans-serif;
  margin-top: auto;

  .onda-topo {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    svg {
      display: block;
      width: 100%;
      height: 80px;
    }
  }

  
  .rodape-conteudo {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 100px 90px 40px;
      flex-wrap: wrap;
      background-color: #003F51;
      gap: 40px;
      
      .colun{
        margin-right: 0px;
      }
    .coluna {
      display: flex;
      flex-direction: column;
      gap: 23px;

      h4 {
        margin-bottom: 5px;
        font-size: 25px;
        font-weight: 600;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        li {
          font-size: 19px;
          margin-bottom: 6px;
          cursor: pointer;
          transition: 0.2s;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .logo {
      align-items: flex-start;
      img {
        width: 150px;
        margin-bottom: 10px;
      }

      h3 {
        font-weight: 500;
        font-size: 22px;
        margin-bottom: 8px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  .rodape-final {
    display: flex;
    justify-content: space-around;
    background-color: #002731;
    text-align: center;
    padding: 25px 0;
    font-size: 12px;
    color: #ccc;
    a{
      pre{
        color: #F3E7E7;
        scale: 1.1;
      }
    }
  }
  .link
  {
    color: #F3E7E7;
  }
}

.onda-linha {
  width: 100%;
  overflow: hidden;
}

.onda-linha svg {
  display: block;
}
