.cardcolab{
    background-color : #F3E7E7;
    height: 370px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 17px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    .textos{
        text-align: center;
        color: black;
        margin-bottom: 50px;
    }
}