.wrap{
        .cardNotice{
        display: flex;
        flex-direction:column ;
        height: 500px;
        width: 350px;
        img{
            height: auto;
            width: auto;
            border-radius: 30px;
        }
        h2{
            text-align: justify;
        }
    }
}


.wrap:hover{
        scale: 1.01;
        transition: 0.2s;
        cursor: pointer;;
    }