.voltar-cursos {
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  margin: 50px;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 11px;
  cursor: pointer;
  overflow: hidden; 
  color: #003F51;
  background-color: transparent;
  transition: color 0.3s ease;

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0; 
    background-color: #DFB674; 
    transition: width 0.4s ease; 
    z-index: 0; 
  }

  .voltar, p {
    position: relative;
    z-index: 1;
  }

  .voltar {
    background-color: #DFB674;
    border: none;
    border-radius: 11px;
    padding: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  p {
    color: #003F51;
    transition: color 0.3s ease;
  }

  &:hover::before {
    width: 100%; 
  }

  &:hover p {
    color: white;
  }

  &:hover .voltar {
    background-color: white;
  }
}

     .titulo-cursos{
          text-align: center;
          margin: 20px;
          color:#003F51
      }


.cursos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px; 
  justify-items: center;
  padding: 15px;
  padding-top: 5px;
  background-color: transparent; 
}


@media (max-width: 1200px) {
  .cursos {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 768px) {
  .cursos {
    grid-template-columns: 1fr; 
  }
}

.botao-topo {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #DFB674;
  color: #003F51;
  border: none;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  z-index: 1000;
}

.btn-topo:hover {
  background-color: #cfa764;
  transform: translateY(-3px);
}


.container-cardCurso {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 40px 0;
  background: none; 
  margin-top: 40px;
}

.cardCurso {
  background-color: #003F51; 
  width: 320px;
  height: 460px;
  padding: 15px;
  border-radius: 10px;
  color: #DFC8BA;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

 
  &:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.35);
    background-color: #00566b;
  }
  

  .imagem {
    border-radius: 5px;
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .titulo-carga {
    display: flex;
    gap: 10px;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5px;
    margin-bottom: 15px;

    .titulo{
      width: 280px;
      padding-left: 5px;
    }

    .tempo {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FFDCA8;
  }

  p {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
  }

  .nivel-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;

    button {
      width: 120px;
      height: 45px;
      border-radius: 4px;
      background-color: #DFB674;
      color: #003F51;
      font-size: 18px;
      font-weight: bold;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #f3c781;
      }
    }
  }
}


@media (max-width: 768px) {
  .cardCurso {
    width: 90%;
    height: auto;
  }
}
