*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

.separacao{
    margin-bottom: 100px;
}

.ConhecaCurso{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: #003F51;
}

.Depoimento{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    color: #003F51;

}

.barra{
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
    border: 2px solid #003F51;
}

.AcontecendoAgora{
color: #003F51;
margin-left: 240px;
margin-top: 100px;
margin-bottom: 50px;
}

.denuncia{
  margin-bottom: 190px;
}

.text-faq1{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  color: #003F51;
  font-size: 40px;
}
.text-faq2{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  color: #003F51;
  font-size: 20px;
}
.faq{
  display: flex;
  justify-content: space-between;
}
.Faq-img{
  margin-right: 250px;
  display: flex;
  justify-content:left;
  align-items: center;
 img{
    height: 500px;
    width:400px;
  }
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

main {
  flex: 1; 
}

