.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0deg, #0E4858, #033240);
}

.login-card {
    background: linear-gradient(0deg, #033240, #0E4858);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
    width: 420px;
    height: 410px;
    display: flex;
    flex-direction: column;

    input {
        padding: 16px;
        border-radius: 25px;
        background-color: #1e5a6c;
        border: 2px solid #1e5a6c;

    }

    input::placeholder {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        opacity: 0.8;
    }
}

.login-titulo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 34px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.input-label {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #fff;
    margin-top: 22px;
    margin-bottom: 16px;
}

.input-senha-login {
    position: relative;
    width: 340px;
}

.input-login {
    width: 100%;
    height: 50px;
    border-radius: 34px;
    padding: 20px 50px 20px 20px;
    background-color: #f3e7e7;
    border: 2.5px solid #003f51;
    color: #003f51;
    font-weight: 700;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.icone-senha-login {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
    transition: opacity 0.2s ease;
}



.button-login {
    display: flex;
    justify-content: end;
    align-items: end;
}

.button-login {
    width: 200px;
    padding: 14px;
    margin-top: 36px;
    background: linear-gradient(90deg, #d8b07b, #e0c38a);
    color: #000;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    color: #0E4858;
    margin-left: 130px;
}

.button-login:hover {
    background: linear-gradient(90deg, #cfa664, #d8b07b);
    transform: scale(1.03);
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.3);
}