

.curso-carousel-container {
    background-color: #f3e7e7;
    padding: 40px 0;
    text-align: center;  
  }
  


  .cards-wrapper {
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f3e7e7;
    display: flex;
    justify-content: center;
  }
  
  .cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: transform 0.5s ease;
  }
  
  .card {
    flex: 0 0 auto;
 
    border-radius: 12px;
    
    text-align: center;
    padding: 20px;
    width: 300px;
    transition: transform 0.3s ease;
  
    img {
      width: 100%;
      height: 250px;
      border-radius: 12px;
      object-fit: cover;
      transition: transform 0.4s ease;
    }
  
    &:hover img {
      transform: translateY(-8px);
    }
  
    p {
      color: #003f51;
      font-size: 14px;
      margin-top: 15px;
      line-height: 1.4;
    }
    .nm-curso{
      color: #003f51;
    }
  }
  
  /* Rodapé com botões */
  .alinhamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 50px 0 50px;
  }
  
  .alinhar {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
  
    .verMais {
      padding: 10px 18px;
      color: #003f51;
      font-size: larger;
      background-color: #e6c07b;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
  
      &:hover {
        background-color: #d9aa65;
      }
    }
  
    p {
      color: #003f51;
      font-weight: 500;
    }
  }
  
  .nextleft {
    display: flex;
    gap: 10px;
  
    button {
      background-color: #003f51;
      color: #fff;
      border: none;
      border-radius: 8px;
      padding: 10px 16px;
      font-size: 20px;
      cursor: pointer;
      transition: 0.3s;
  
      &:hover {
        background-color: #00586b;
      }
    }
  }

  
  
  /* Responsividade */
  @media (max-width: 1024px) {
    .cards-wrapper {
      max-width: 700px;
    }
  }
  @media (max-width: 700px) {
    .cards-wrapper {
      max-width: 300px;
    }
  }
  